* {
    margin: 0;
    padding: 0;
    font-family: Cabin;
}

body {
    margin: 0px auto;
    width: 1440px;
    background-color: #eeeeee;
    position: relative;
}

/* header menu */

header {
    position: sticky;
    width: 1440px;
    top: 0;
    left: 0;
    z-index: 3;
}

.menu1 {
    display: flex;
    height: 72px;
    padding: 16px 52px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #10BBD5;
    box-sizing: border-box;
}

.cart {
    background: #10BBD5;
    border: none;
    position: relative;
}

.cart-num {
    position: absolute;
    top: 8px;
    left: 18px;
}

.pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.wallet {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 52px;
    box-sizing: border-box;

}

.user-btns {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

/* main page */

.chat {
    position: fixed;
    top: auto;
    right: 28px;
    background-color: #10BBD5;
    border-radius: 50%;
    z-index: 3;
    border: none;
}

.title {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 24px 52px;
    box-sizing: border-box;
    padding-bottom: 23px;
    border-bottom: 2px solid gray;
}

.cards-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 512px;
    box-sizing: border-box;
    padding: 32px;
    position: relative;
    align-items: center;
    gap: 16px;
}

.info {
    display: flex;
    position: absolute;
    gap: 10px;
    left: 35px;
    z-index: 2;
}

.hit {
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
}

.new {
    border-radius: 4px;
    background: #AF39E7;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
}

.sale {
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
}

.book-cover {
    width: 172px;
}

.title-n-price {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.book-info {
    display: flex;
    flex-direction: column;

}

.name {
    width: 242px;
    height: 31px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding-bottom: 30px;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    overflow: hidden;
}

.author {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sale-price {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.old-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
}

.add {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4C394E;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

.end {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    width: 1440px;
    height: 88px;
    box-sizing: border-box;
    padding: 32px 50px;
}

footer span {
    color:#F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}